name: Jekyll site CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - run: git clone https://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@github.com/Samyakt24/Private1.git
